@use "./button.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body,#root{
    width: 100%;
}

html{
    background-color: rgba(0, 0, 0, 0.801);
    color: rgb(252, 252, 252);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    color: #d20c3d;
    text-decoration: none;
}