main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-container{
        height: fit-content;
        min-width: 400px;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;


        form{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            input{
                border: none;
                outline: none;
                padding: 1rem;
                border-radius: 5px;
            }

           
            
        }

        .toggle-authform{
            color:#bd0c23;
            cursor: pointer;
            text-decoration: none;
            font-weight: 600;
            transition: all 0.3s ease;

            &:hover{
                color:#c03636;
                text-decoration: underline;
            }
        }
    }
}

